<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#2196f3 ">
    <meta name="description" content="Use our FREE calculator to see where your tax is going! How much is our government spending on health, education, defence and more? Find out">
    <meta name="keywords" content="tax, health, education, calculator, free">
    <meta name="author" content="Josh Shepherd">
    <title>Taxable - See Where Your Tax Goes!</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- font awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <nav class="nav-wrapper blue">
            <div class="container">
                <a href="/" class="brand-logo">Taxable</a>
                 <!-- mobile menu trigger -->
                 <a href="#" class="sidenav-trigger" data-target='mobile-menu'>
                    <i class="material-icons">menu</i>
                </a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="/">Home</a></li>
                    <li><a href="/calculator">See Calculator</a></li>
                    <li><a href="/about">About Calculation</a></li>
               
                </ul>
            </div>
        </nav>
        <!-- mobile nav -->
        <ul class="sidenav blue lighten-2" id='mobile-menu'>
            <li><a href="/">Home</a></li>
            <li><a href="/calculator">See Calculator</a></li>
            <li><a href="/about">About Calculation</a></li>
        </ul>
    </header>
